* {
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 40px;
    justify-content: space-between;

}

.top {
    padding-top: 44px;
    padding-bottom: 162px;
}

.logo {
    padding-top: 96px;
    padding-bottom: 97px;
    gap: 48px;
}

.header_p {
    color: #000;

    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.header_p_b {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.top_text_h {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_text_p {
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu_line_home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header__menu_line {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.botom_top__leaft {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    padding: 15px 35px;
    border: 0cm;
}

.botom_top__riad {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px;
    border: 0cm;
    background: #FFF;
}

.centor {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: flex;
}

.header__menu {
    width: 533px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
}

.top_text_button{
    display: flex;
    gap: 36;
}

@font-face { 
    font-family: "Gilroy-SemiBold";
    src: url("./GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Gilroy-Medium";
    src: url("./GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Gilroy-Bold";
    src: url("./GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}